@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.defaultTitle {
  display: inline-block;
  margin: 10px 15px 5px 10px;
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  vertical-align: center;
}

.defaultContent {
  display: inline-block;
  width: 70%;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 19px;
  padding-left: 10px;
  border-left: 1px solid black;
}

.defaultContainer {
  width: 88%;
  border: 1px solid black;
}
