.h{
    margin-top: 110px;
    padding-bottom: 44px;
}
.h-inner{
    position: relative;
    width: 340px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}
.d{
    position: relative;
    align-items: center;
    width: 340px;
    margin: auto;
}
.b{
    height: 30px;
    margin-bottom: 20px;
}
.f{
    display: flex;
    flex-direction: column;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.bg{
    background-color: aliceblue;
    height: 100%;
}