@import url(./errorLog.css);

/* seach-sec 검색 틀 */

.seach-sec {
  border-bottom: 1px solid #595959;
  border-top: 1px solid #595959;
  padding-top: 20px;
}
/* 메인 */
.main-sec {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-sec {
  width: 45%;
  padding: 10px 10px;
}

.list-sec h3 {
  margin-bottom: 20px;
}
.list-sec table {
  width: 100%;
  border: 1px #222 solid;
}

.newmember-sec {
  width: 45%;
}

/* 폼 */
.new-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.btn-3 {
  padding: 4px 14px;
}
.btn-3:first-child {
  margin-right: 10px;
}
/* .userbox {

} */
.user-label {
  display: inline-block;
  height: 30px;
}

.member-input {
  border-radius: 2px;
  border: 1px solid rgb(209, 209, 209);
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  margin: 0 10px;
  padding: 1px 10px;
  display: inline-block;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}

.user-sec table tr td {
  vertical-align: middle;
  padding-right: 20px;
}

.user-sec table tr {
  height: 60px;
}

/* 멤버체크 승인 */
.membercheck-maim {
  width: 45%;
  padding: 10px 10px;
}

.btn-color-none {
  background-color: #595959;
  padding: 4px 14px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.2s;
  margin-right: 10px;
}

.r {
  text-align: right;
}
